.line {
    color: black;
}
.menu__item {
    position: relative;
}
.menu__item:hover .inner-menu .inner-menu__link {
    transform: translateX(0);
    opacity: 1;
}
.menu__item:hover .inner-menu {
    display: block;
    background: lightblue;
}
.inner-menu {
    position: absolute;
    left: 0;
    padding: 5px 15px;
    list-style: none;
    white-space: nowrap;
    
}

.inner-menu__link {
    color: black;
    display: inline-block;
    text-decoration: none;
    transform: translateX(-15px);
    opacity: 0;
    transition: all 1s ease;
}
.inner-menu__item:nth-child(2)
.inner-menu__link
{
    transition-delay: .3s;
}
.inner-menu__item:nth-child(3)
.inner-menu__link
  {
    transition-delay: .6s;
}
.inner-menu__item:nth-child(4)
.inner-menu__link {
    transition-delay: .9s;
}



.themes__line {
   
   display:block;
}

.themes__line:hover {
    color: blue;
}
.menu-lower__line {
    color: grey;
}
.telegram-icon {
    opacity: .4;
} 
.telegram-icon:hover {
    opacity: 1;
}

.motherland__video {
   margin-top: 40px;
}
.motherland__ball {
    margin-top: 50px;
}
